<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
        tools:targetApi="31">

        <meta-data
            android:name="de.mm20.launcher2.plugin.label"
            android:value="@string/plugin_package_name" />
        <meta-data
            android:name="de.mm20.launcher2.plugin.author"
            android:value="MM2-0" />
        <meta-data
            android:name="de.mm20.launcher2.plugin.description"
            android:value="@string/plugin_package_description" />
        <meta-data
            android:name="de.mm20.launcher2.plugin.icon"
            android:resource="@drawable/ic_here" />

        <activity
            android:name=".SettingsActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="de.mm20.launcher2.action.PLUGIN_SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <provider
            android:name="de.mm20.launcher2.plugin.here.HereDeparturesProvider"
            android:authorities="de.mm20.launcher2.plugin.here.departures"
            android:exported="true"
            android:label="@string/plugin_departures_name"
            android:icon="@drawable/ic_here_badge">
            <intent-filter>
                <action android:name="de.mm20.launcher2.action.PLUGIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="de.mm20.launcher2.plugin.description"
                android:value="@string/plugin_departures_description" />
        </provider>

        <provider
            android:name="de.mm20.launcher2.plugin.here.HerePlacesProvider"
            android:authorities="de.mm20.launcher2.plugin.here.places"
            android:exported="true"
            android:label="@string/plugin_places_name"
            android:icon="@drawable/ic_here_badge">
            <intent-filter>
                <action android:name="de.mm20.launcher2.action.PLUGIN" />
                    <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="de.mm20.launcher2.plugin.description"
                android:value="@string/plugin_places_description" />
        </provider>

        <provider
            android:name="de.mm20.launcher2.plugin.here.HereWeatherProvider"
            android:authorities="de.mm20.launcher2.plugin.here.weather"
            android:exported="true"
            android:label="@string/plugin_weather_name"
            android:icon="@drawable/ic_here">
            <intent-filter>
                <action android:name="de.mm20.launcher2.action.PLUGIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="de.mm20.launcher2.plugin.description"
                android:value="@string/plugin_weather_description" />
        </provider>

    </application>

</manifest>